<div class="container">
  
  <div class="col-md-6 mx-auto d-block">
    <form class="navbar-form" role="search">
      <div class="input-group add-on">
        <input [(ngModel)]="filterText" (ngModelChange)="sendFilter($event)" class="form-control" placeholder="Czego szukasz?" name="title" id="search" type="search" appTextFormat>
      </div>
    </form>
  </div>
  
  <div class="col-md-3 mx-auto d-block" style="margin-top: 25px;">
    <ul class="nav nav-pills nav-fill justify-content-center">
		<li class="nav-item">
			<a href="/blog/dodaj" class="nav-link active">Dodaj post</a>
		</li>
	</ul>
  </div>
  
</div>
