<form method="POST" action="/api/post">
	<div class="container" style="margin-top: 50px;">
	  <div class="card-header">
		<h4>Dodaj artykuł:</h4>
	  </div>
	  <div class="card-body">
		<div class="form-group">
		  <input type="text" class="form-control" placeholder="Tytuł artykułu" name="title" required="required" [(ngModel)]="post.title">
		</div>
		<div class="form-group">
		  <input type="text" class="form-control" placeholder="URL obrazka" name="url" required="required" [(ngModel)]="post.url">
		</div>
		<div class="form-group">
		  <textarea class="form-control" rows="8" placeholder="Treść artykułu" name="content" required="required" [(ngModel)]="post.content"></textarea>
		</div>
	  </div>
	  <div class="card-footer">
	    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Wyślij</button>
	  </div>
	</div>
</form>